@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';
@import '@fontsource-variable/inter';
@font-face {
  font-family: 'Rubik';
  src: url('./fonts/Rubik-VariableFont_wght.woff2') format('woff2');
  font-weight: 500;
}

:root {
  --color-primary: pink;
  --text-primary: black;
  --border-radius: 6px;
  --border: 1px solid gray;
  --box-shadow: 1px 2px 3px;
  --padding: 2px;
  --margin: 3px;
  --font-primary: 'Rubik', sans-serif;
}

* {
  font-family: var(--font-primary);
}
