/* стили для мобильной версии */
.container {
  display: flex;
  flex-direction: column;
  padding: 14px;
  background-color: var(--card-color);
  width: 173px;
  height: 96px;
  border-radius: 16px;
  border: var(--border);
  box-sizing: border-box;
  gap: 10px;
}

.title {
  color: var(--text-primary);
}

.content,
.tag {
  color: var(--text-advanced);
}

.tag {
  width: 42px;
  height: 15px;
  background-color: #ffffff;
}

/* стили для планшетной версии */
@media (width >= 768px) {
  .container {
    width: 200px;
    height: 100px;
    gap: 16px;
    padding: 20px;
  }
}

/* стили для десктопной версии */
@media (width >= 1024px) {
  .container {
    width: 295px;
    height: 130px;
    gap: 16px;
    padding: 20px;
  }
}
